@font-face {
	font-family: 'AnonymousPro';
	src: url('./../../shared/assets/fonts/AnonymousPro-Regular.woff');
	src: url('./../../shared/assets/fonts/AnonymousPro-Regular.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Inter';
	src: url('./../../shared/assets/fonts/Inter-Regular.woff');
	src: url('./../../shared/assets/fonts/Inter-Regular.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Inter-bold';
	src: url('./../../shared/assets/fonts/Inter-Bold.woff');
	src: url('./../../shared/assets/fonts/Inter-Bold.woff2') format('woff2');
			 font-weight: 600;
			 font-style: normal; 
}

@font-face {
	font-family: 'Mont';
	src: url('./../../shared/assets/fonts/Montserrat-Regular.woff');
	src: url('./../../shared/assets/fonts/Montserrat-Regular.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Mont-medium';
	src: url('./../../shared/assets/fonts/Montserrat-Medium.woff');
	src: url('./../../shared/assets/fonts/Montserrat-Medium.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Mont-bold';
	src: url('./../../shared/assets/fonts/Montserrat-Bold.woff');
	src: url('./../../shared/assets/fonts/Montserrat-Bold.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Mont-black';
	src: url('./../../shared/assets/fonts/Montserrat-Black.woff');
	src: url('./../../shared/assets/fonts/Montserrat-Black.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}