{
  "printWidth": 100,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "max-len": [
    "error",
    140,
    2
  ],
  "useTabs": false
}